/* CSS general de elementos */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #222;
    color: #fff;
    font: 200 14px 'Poppins', sans-serif;
}

h2 {
    font-size: 36px;
    font-weight: 300;
    line-height: 36px;
}

h3 {
    color: #999;
    font-size: 18px;
    font-weight: 300;
}

section {
    padding: 10px 100px;
}

p {
    text-align: justify;
}

cite {
    font-weight: 300;
}

i {
    font-size: 24px;
}

nav {
    position: fixed;
    display: inline-block;
    width: 100%;
    background-color: #222;
    border-bottom: #fff solid 1px;
    padding-top: 10px;
    text-align: center;
}

i:hover {
    color: #ffc900;
}

a:any-link{
    color: #fff;
}

a {
    text-decoration: none;
}

a:hover {
    color: #ffc900;
}

/* CSS Ids y Clases */
.hastag {
    color: #ffc900;
}

#redes-sociales, 
nav > ul {
    list-style: none;   
}

nav > ul {
    display: inline-block;
}

#redes-sociales li,
nav li {
    float: left;
    margin-right: 10px;
}

nav li {
    padding-top: 12px;
}

#inicio {
    background-image: url("../images/inicio_1280x300.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 280px;
    padding-top: 77px;
}

#portafolio {
    border-top: #ffc900 solid 1px;
    text-align: center;
}

#experiencia {
    background-color: #fff;
    color: #222;
}

#logo {
    padding-top: 0;
}

.filaportfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.card {
    width: 250px;
    background-color: #191919;
    margin-top: 5px;
    border-radius: 15px;
    text-align: initial;
}

.card img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.card h3 {
    color: #ffc900;
}

.card h3,
.card h4,
.card p,
.masinfo {
    margin: 0 15px;
}

.sep {
    border: 1px #ffc900 solid;
}

.masinfo {
    margin: 5px 15px;
}

.masinfo,
.masinfo button {
    float: right;
    background-color: #ffc900;
    border: none;
    border-radius: 10px;
}

.masinfo button {
    width: 80px;
    font-weight: bold;
    padding: 5px;
}

#sobremi {
    display: grid;
    grid-template-columns: 250px 1fr;
    align-items: center;
}

#bodysobremi {
    display: grid;
    justify-items: start;
    gap: 10px;
}

#bodysobremi .masinfo {
    margin: 20px 0;
    padding: 5px 30px;
}

#bodysobremi .masinfo button {
    float: none;
}

/* Experiencia grid */

.gridexp {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    justify-content: space-between;
    align-content: space-around;
}

.cardexp {
    background-color: #222;
    border-radius: 10px;
    padding: 15px;
    max-width: 400px;
}

.cardexp h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 900;
}

.cardexp h3 {
    font-size: 16px;
    margin-bottom: 15px;
}

.cardexp p {
    color: #fff;
}

.cardexp ul {
    list-style: none;
    display: flex;
    justify-content: end;
}

.cardexp ul li {
    margin: 0 3px;
}

.cardexp img {
    width: 20px;
    height: auto;
}

/* Formulario de Contacto */

#contacto {
    background-color: #ffc900;
    color: #000;
}