/* Estilos generales */
body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/* FIN Estilos generales */

/* Barra de navegación */
nav {
    display: flex;
    justify-content: space-between;
    background-color: #ffc900;
    align-items: center;
    position: fixed;
    width: 100%;
}

.logo {
    margin: 10px 20px;
}

.logo img {
    height: 35px;
}

.nav-ul {
    display: flex;
    align-items: center;
    margin-right: 10%;
    font-size: 18px;
    font-weight: 700;
    height: 57.5px;
}

.nav-ul li {
    height: 100%;
}

.nav-ul a {
    text-decoration: none;
    color: #222;
    display: inline-block;
    height: 100%;
    line-height: 57.5px;
    padding: 0 25px;
}

.nav-ul a:hover {
    color: #ffc900;
    background-color: #222;
    transition: 0.5s;
}

/* FIN Barra de navegación */

main {
    padding-top: 57.5px;
}

/* Bloque Inicio */
#inicio {
    background-image: url("../images/inicio.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 700px;
}

#inicio h1 {
    text-align: right;
    font-size: 48px;
    font-weight: 900;
    color: #fff;
    padding: 40px 100px;
}
/* FIN Bloque inicio */

/* Bloque exterior */
.exterior-contenedor {
    display: grid;
    grid-template-columns: repeat(3, 25%);
    justify-items: center;
}

.exterior-contenedor img {
    display: inline-block;
}

#ex01 {
    grid-column: 1/3;
}

#ex02 {
    grid-column: 3/4;
}

#ex03 {
    grid-column: 1/2;
}

#ex04 {
    grid-column: 2/4;
}


/* FIN Bloque exterior */